.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bomb-animation {
  animation: flash 1s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #10af95;
}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.BoardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.BombControlsContainer {
  margin-top: 20px;
  text-align: center;
}

.BombIcon {
  cursor: pointer;
  margin: 0 10px;
  font-size: 24px;
  color: #555;
  transition: color 0.3s ease;
}

.BombIcon:hover {
  color: #ff6347;
}

.GameBoard {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
  margin-top: 20px;
}

.CellButton {
  width: 80px;
  height: 80px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.CellButton:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.CellButton.X {
  color: #4169e1;
}

.CellButton.O {
  color: #ff6347;
}

.BombAnimationDiv {
  animation: flash 1s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}